# Ignore zip files
*.zip

# Ignore Jupyter Notebook version file
.ipynb_checkpoints

# Ignore .Ds_Store file
.DS_Store

# Ignore folder with data sets not used in project
World Happiness Report 2024/

